[submodule "mains/libft/Tripouille"]
	path = mains/libft/Tripouille
	url = https://github.com/xicodomingues/libftTester
	recurseSubmodules = true
[submodule "mains/libft/war-machine"]
	path = mains/libft/war-machine
	url = https://github.com/xicodomingues/libft-war-machine
	recurseSubmodules = true
[submodule "mains/libft/alelievr"]
	path = mains/libft/alelievr
	url = https://github.com/xicodomingues/libft-unit-test
