[submodule "tests/libft/alelievr"]
	path = tests/libft/alelievr
	url = https://github.com/xicodomingues/libft-unit-test
[submodule "tests/libft/war-machine"]
	path = tests/libft/war-machine
	url = https://github.com/xicodomingues/libft-war-machine
[submodule "tests/libft/Tripouille"]
	path = tests/libft/Tripouille
	url = https://github.com/xicodomingues/libftTester
[submodule "tests/get_next_line/gnlTester"]
	path = tests/get_next_line/gnlTester
	url = https://github.com/xicodomingues/gnlTester
[submodule "tests/printf/printfTester"]
	path = tests/printf/printfTester
	url = https://github.com/xicodomingues/printfTester
[submodule "tests/printf/unit-test"]
	path = tests/printf/unit-test
	url = https://github.com/xicodomingues/printf-unit-test
[submodule "tests/printf/ft_printf_test"]
	path = tests/printf/ft_printf_test
	url = https://github.com/xicodomingues/ft_printf_test
